<div class="row">

    <div class="three panel columns">
        <%= image_tag "couple_alsacien.png" %>
        <h4>Bienvenue à Strasbourg !</h4>

        <p>Capitale européenne et économique, métropole à dimension humaine, Strasbourg puise ses forces dans son
            histoire, sa culture et sa position géographique. Smartbourg vous propose de découvrir son magnifique
            patrimoine !</p>

        <p>Découvrez tous les lieux à ne pas manquer et partagez vos propres expériences ! </p>
    </div>

    <div class="nine columns">
        <div class="panel">
            <div class="row">

                <div class="three columns">
                    <img src="http://idata.over-blog.com/2/82/77/83/STRASBOURG-VILLE/STRASBOURG-VILLE03983bis.jpg">
                </div>

                <div class="three columns">
                    <img src="http://www.vincestub.com/images/tourisme/strasbourg_marche_de_noel.jpg">
                </div>

                <div class="three columns">
                    <img src="http://www.rosenadine.com/blog/wp-content/uploads/2012/11/sapin.jpg">
                </div>

                <div class="three columns">
                    <img src="http://www.vincestub.com/images/tourisme/strasbourg_marche_de_noel.jpg">
                </div>

                <div class="three columns">
                    <img src="http://files2.structurae.de/files/photos/64/bas_rhin/strasbourg_passerelle_des_deux_rives_1.jpg">
                </div>

                <div class="three columns">
                    <img src="http://media.melty.fr/article-1065794-ajust_900/un-quart-du-budget-de-la-ville-est-consacre.jpg">
                </div>

                <div class="three columns">
                    <img src="http://www.monalyz.fr/resources/COE.Web.Strasbourg-Europe.13.5.2007+163b.jpg">
                </div>

                <div class="three columns">
                    <img src="http://www.observatoiredessubventions.com/wp-content/uploads/universite-Strasbourg-subventions-aides.JPG">
                </div>

            </div>
        </div>

        <div class="row">
            <div class="six columns">
                <div class="panel">
                    <h5>Découvrez le patrimoine</h5>

                    <p>Des lieux undergroupes. Des événements marquants. Des oeuvres exceptionelles. Bref Strasbourg
                        dans toute sa splendeur</p>
                    <a href="#" class="small button">C'est parti !</a>
                </div>
            </div>

            <div class="six columns">
                <div class="panel">
                    <h5>Partagez vos expériences</h5>

                    <p>Historien dans l'âme ? N'hésitez pas à partager toutes vos expérience avec Strasbourg et ses
                        fabuleux trésors.</p>
                    <a href="#" class="small button">C'est parti !</a>
                </div>
            </div>
        </div>
    </div>

</div>