<h1>Index</h1>
<p>Crazy home page</p>

<p><%= link_to 'Sign up as User', new_user_registration_path %></p>
<p><%= link_to 'Sign in as User', new_user_session_path %></p>

<p><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></p>