<div class="row">
    <div class="row">
        <div class="twelve columns centered">
            <%= link_to 'Voir', @item, class: "small button" %>
            <%= link_to 'Retour', items_path, class: "small button" %>

            <h2>Editer</h2>

            <%= render 'form' %>

        </div>
    </div>
</div>
