<div class="row">
    <div class="row">
        <div class="twelve columns centered">
            <h2>Créer</h2>

            <%= render 'form' %>

            <%= link_to 'Back', items_path %>
        </div>
    </div>
</div>

